.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.left {
  order: 1;
}

.right {
  grid-row: span 2;
}

.images {
  position: relative;
  display: grid;
  grid-template-columns: 162px 1fr;
  column-gap: 16px;
}

.images__container {
  position: relative;
  overflow: hidden;
}

.images__list {
  position: absolute;
  display: grid;
  grid-auto-rows: 1fr;
  transition: transform 0.8s ease;
}

.images__list img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.images__list img:hover {
  transform: scale(1.1);
}

.image__next {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255)
  );
  background-color: rgba(255, 255, 255, 0);
  transition:
    transform 0.3s ease,
    background-color 0.5s ease;
}

.image__next:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.3);
}

.image__next-icon,
.image__prev-icon {
  stroke: var(--action-secondary);
  width: 16px;
}

.image__prev-icon {
  transform: rotate(180deg);
}

.image__prev {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255),
    rgba(255, 255, 255, 0)
  );
  background-color: rgba(255, 255, 255, 0);
  transition:
    transform 0.3s ease,
    background-color 0.5s ease;
}

.image__prev:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.3);
}

.image__main {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image__main img {
  width: 100%;
  height: 31vw;
  object-fit: contain;
}

.characteristics {
  margin-top: 32px;
}

.characteristics__title {
  color: var(--dark-grey);
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
}

.characteristics__list {
  display: grid;
  margin-top: 24px;
}

.characteristics__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 16px;
  color: var(--grey-scale-60);
  font-size: 14px;
  line-height: 142%;
}

.characteristics__item:nth-child(n + 11) {
  display: none;
}

.characteristics__item:nth-child(odd) {
  background-color: var(--soft);
}

.characteristics__show-all {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  padding: 5px 6px;
  margin-top: 16px;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--action-secondary);
}

.characteristics__show-all-arrow {
  width: 12px;
  height: 12px;
  stroke: var(--action-secondary);
}

.description {
  margin-top: 32px;
}

.description__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 112%;
  color: var(--dark-grey);
}

.description__text {
  overflow: hidden;
  max-height: 60px;
  margin-top: 24px;
  font-size: 14px;
  line-height: 142%;
  color: var(--dark-grey);
  transition: max-height 0.3s ease;
}

.description__more {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
  padding: 5px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: var(--action-secondary);
}

.description__more-arrow {
  width: 6px;
  height: 6px;
  stroke: var(--action-secondary);
  transition: transform 0.3s ease;
}

.description__more-arrow_active {
  transform: rotate(-180deg);
}

.head {
  display: flex;
  align-items: center;
  /* gap: 8px; */
}

.head__new,
.head__hit {
  padding: 6px 19px;
  background-color: var(--accent-red);
  font-size: 14px;
  font-weight: 700;
  line-height: 114%;
  color: var(--white);
  clip-path: polygon(8px 0, 100% 0, calc(100% - 8px) 100%, 0 100%);
}

.head__new {
  margin-right: 16px;
}

.head__comparison {
  display: flex;
  align-self: center;
  margin-left: auto;
}

.head__like {
  margin-left: 8px;
}

.head__comparison-icon,
.head__like-icon {
  stroke: var(--action-secondary);
  fill: var(--action-secondary);
}

.head__comparison-icon {
  width: 32px;
  height: 32px;
}

.head__like-icon {
  width: 26px;
  height: 26px;
}

.buy {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.buy__price {
  position: relative;
  display: flex;
  gap: 2px;
  color: var(--dark-grey);
}

.buy__price_old {
  position: absolute;
  left: -12px;
  top: -14px;
  color: var(--grey-scale-40);
}

.buy__price_old span:first-of-type {
  color: var(--grey-scale-40);
  font-size: 12px;
  line-height: 114%;
  font-weight: 700;
  text-decoration: line-through;
}

.buy__price_old span:last-of-type {
  color: var(--grey-scale-40);
  font-size: 8px;
  line-height: 133%;
  font-weight: 500;
}

.buy__price_discount {
  margin-left: 12px;
  color: var(--accent-red);
}

.buy__numbers {
  font-size: 28px;
}

.buy__currency {
  align-self: flex-end;
  font-size: 12px;
}

.buy__common,
.buy__credit {
  height: 42px;
}

.buy__common,
.buy__credit {
  font-size: 12px;
  line-height: 100%;
  font-weight: 700;
}

.buy__common {
  margin-left: 20px;
  padding: 15px 43px;
}

.buy__credit {
  margin-left: 12px;
  padding: 15px 12px;
}

.delivery,
.payment,
.guarantee {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 24px;
  padding: 16px 24px;
  box-shadow: 0 2px 10px rgba(50, 50, 71, 0.14);
  border-radius: 4px;
}

.delivery__title,
.payment__title,
.guarantee__title {
  margin-bottom: 6px;
  color: var(--dark-grey);
  font-size: 18px;
  font-weight: 600;
  line-height: 133%;
}

.delivery__row {
  display: grid;
  grid-template-columns: auto 1fr 1fr auto;
  align-items: center;
  column-gap: 10px;
  color: var(--dark-grey);
  font-size: 14px;
  font-weight: 500;
  line-height: 114%;
}

.delivery__icon,
.payment__icon,
.guarantee__icon {
  width: 32px;
  height: 32px;
}

.delivery__name {
}

.delivery__date {
}

.right__line {
  height: 1px;
  width: 100%;
  margin-top: 24px;
  background-color: var(--grey-scale-10);
}

.payment__block,
.guarantee__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.payment__row,
.guarantee__row {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 10px;
}

.payment__text,
.guarantee__text {
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 142%;
}

@media (max-width: 1100px) {
  .images {
    grid-template-columns: 100px 1fr;
  }
}

@media (max-width: 767.8px) {
  .body {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .right {
  }

  .images {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 10px;
  }

  .images__container {
    overflow-x: auto;
    order: 1;
  }

  .images__list {
    position: relative;
    grid-auto-flow: column;
    grid-auto-columns: 120px;
    column-gap: 8px;
  }

  .images__list img {
    object-fit: cover;
  }

  .image__next,
  .image__prev {
    display: none;
  }

  .image__main img {
    width: 100%;
    height: 100dvw;
  }

  .buy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    row-gap: 12px;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(50, 50, 71, 0.14);
  }

  .buy__price {
  }

  .buy__numbers {
  }

  .buy__common,
  .buy__credit {
    margin-left: 0;
  }

  .buy__common {
    margin-top: 24px;
  }

  .right__line {
    display: none;
  }

  .delivery,
  .payment,
  .guarantee {
    margin-top: 16px;
  }

  .delivery__row {
    grid-template-columns: auto 1fr 1fr auto;
    row-gap: 8px;
    align-items: start;
  }

  .delivery__icon {
    grid-row: span 3;
  }

  .payment__row,
  .guarantee__row {
  }

  .characteristics {
    margin-top: 0;
  }

  .characteristics__title {
    font-size: 18px;
    line-height: 133%;
  }

  .characteristics__list {
    margin-top: 16px;
  }

  .description {
    margin-top: 24px;
  }

  .description__title {
    font-size: 18px;
    line-height: 133%;
  }

  .description__text {
    margin-top: 12px;
  }
}

@media (max-width: 600px) {
  .delivery__row {
    grid-template-columns: auto 1fr auto;
    row-gap: 8px;
    align-items: start;
  }
}

@media (max-width: 479px) {
  .delivery__row {
    grid-template-columns: auto 1fr;
    row-gap: 8px;
    align-items: start;
  }
}
