.advantages {
  /* display: flex; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 54% 39%;
  gap: 5%;
  /* padding-right: 27px; */
}

.advantages__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 58px; */
}

.advantages__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 13px;
  width: 110px;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  color: var(--background-color-blue);
}

@media (max-width: 1530px) {
  .advantages {
    /* gap: 20px; */
    padding-right: 0;
  }

  .advantages__row {
    /* gap: 20px; */
  }
}

@media (max-width: 1280px) {
  .advantages {
    flex-wrap: wrap;
  }
}