.user {
  /* height: 100%; */
}
.user__body {
  display: grid;
  grid-template-columns: 370px 1fr;
  column-gap: 16px;
  /* height: 100%; */
  margin-top: 32px;
  margin-bottom: 24px;
}

.nav {
  position: sticky;
  top: 144px;
  align-self: start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 12px;
  width: 100%;
  border-bottom: 1px solid var(--grey-scale-10);
  color: var(--dark);
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  cursor: pointer;
}

.nav__item:hover {
  background-color: var(--soft);
  color: var(--action-secondary);
}

.nav__item:hover .nav__itemIcon {
  stroke: var(--action-secondary);
  fill: var(--action-secondary);
}

.nav__item:hover .nav__itemIconLike {
  fill: none;
}

.nav__item_active {
  background-color: var(--soft);
  color: var(--action-secondary);
}

.nav__item_active .nav__itemIcon {
  stroke: var(--action-secondary);
  fill: var(--action-secondary);
}

.nav__item_active .nav__itemIconLike {
  fill: none;
}

.nav__itemIcon {
  width: 22px;
  height: 22px;
  stroke: var(--dark);
  fill: var(--dark);
}

.nav__itemIconLike {
  fill: none;
}

@media (max-width: 1200px) {
  .user__body {
    grid-template-columns: 300px 1fr;
  }
}

@media (max-width: 950px) {
  .user__body {
    grid-template-columns: 200px 1fr;
  }
}

@media (max-width: 767.8px) {
  .user__body {
    grid-template-columns: 1fr;
    margin-top: 24px;
  }
  .nav {
    display: none;
  }
}
