body {
  font-family: "Lato", sans-serif;
  color: var(--font-color-primary);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow: hidden;
  position: relative;
}

.main {
  flex: 1 1 auto;
  margin-top: 138px;
  background-color: var(--white);
}

[class$="__container"] {
  max-width: 1564px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.only-mobile {
  display: none;
}

.only-desktop {
}

@media (max-width: 767.8px) {
  .only-mobile {
    display: inherit;
  }

  .only-desktop {
    display: none;
  }
}
