.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__body {
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 1064px;
  height: 90%;
  padding: 24px;
  background-color: var(--white);
  border-radius: 4px;
}

.modal__head {
  display: flex;
  justify-content: space-between;
}

.modal__title {
  color: var(--dark);
  font-size: 18px;
  line-height: 133%;
  font-weight: 600;
}

.modal__cross::before,
.modal__cross::after {
  background-color: var(--accent-red);
}

.modal__list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.product {
  display: grid;
  grid-template-columns: 70px 1fr 0.3fr 100px auto;
  grid-template-rows: 70px;
  column-gap: 30px;
  justify-items: center;
  align-items: center;
  padding: 12px;
  border-top: 1px solid var(--grey-scale-10);
}

.product:last-of-type {
  border-bottom: 1px solid var(--grey-scale-10);
}

.product__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__name {
  overflow: hidden;
  width: 100%;
  height: 52px;
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 120%;
}

.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

.quantity__add,
.quantity__subtract {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: var(--grey-scale-10);
  border-radius: 50%;
}

.quantity__subtract::before,
.quantity__add::after,
.quantity__add::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 14px;
  height: 1px;
  background-color: var(--action-secondary);
}

.quantity__add::after {
  transform: translate(-50%) rotate(90deg);
}

.quantity__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 38px;
  border: 1px solid var(--grey-scale-10);
  border-radius: 4px;
  color: var(--dark-grey);
  font-size: 18px;
  line-height: 122%;
  font-weight: 700;
}

.modal__buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: auto;
}

.modal__sum {
  display: none;
}

.modal__price {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.modal__continueButton,
.modal__oderButton {
  padding: 9px 12px;
  font-size: 12px;
  line-height: 100%;
}

@media (max-width: 776.8px) {
  .modal__body {
    width: 100%;
    height: 100%;
  }

  .product {
    grid-template-columns: 70px 1fr auto auto;
    grid-template-rows: 32px 30px;
    row-gap: 12px;
  }

  .product:first-of-type {
    border-top: none;
  }

  .product__img {
    order: 0;
    grid-row: span 2;
  }

  .product__name {
    order: 1;
    grid-column: span 2;
    height: 32px;
    font-size: 12px;
    line-height: 133%;
  }

  .quantity {
    order: 3;
    gap: 8px;
    margin-right: auto;
  }

  .quantity__add,
  .quantity__subtract {
    width: 24px;
    height: 24px;
  }

  .quantity__subtract::before,
  .quantity__add::after,
  .quantity__add::before {
    width: 10px;
  }

  .quantity__number {
    height: 30px;
    font-size: 14px;
    line-height: 120%;
    font-weight: 500;
  }

  .product__price {
    grid-column: span 2;
    order: 4;
  }

  .product__delete {
    order: 2;
  }

  .modal__buttons {
    /* margin-top: 24px; */
  }
}

@media (max-width: 530px) {
  .product {
    column-gap: 12px;
    grid-template-columns: 70px 1fr auto;
  }

  .product__img {
    grid-row: span 1;
  }

  .product__name {
    grid-column: span 1;
  }

  .quantity {
  }

  .product__price {
    grid-column: span 2;
    margin-left: auto;
  }

  .product__delete {
  }

  .modal__buttons {
    flex-direction: column;
    row-gap: 12px;
    /* margin-top: 24px; */
  }

  .modal__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .modal__sum {
    display: block;
    color: var(--dark-grey);
    font-size: 18px;
    line-height: 133%;
    font-weight: 700;
  }

  .total_price {
    order: 0;
  }

  .modal__continueButton,
  .modal__oderButton {
    width: 100%;
    order: 1;
  }

  .modal__continueButton {
    order: 2;
  }
}
