.utility {
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}

.utility__body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 27.5px 0;
}

.utility__logo {
  position: relative;
  bottom: 3.5px;
  width: 165px;
  height: 42px;
  fill: var(--action-secondary);
}

.utility__catalog-button {
  margin-left: 30px;
  padding: 9px 12px 9px 10px;
}

.utility__catalog-button-icon {
  width: 20px;
  height: 20px;
  stroke: var(--soft);
  fill: var(--soft);
}

.search-form {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.search-form__input-field {
  border-radius: 4px 0 0 4px;
}

.search-form__submit-button {
  padding: 9px 12px;
  border-radius: 0 4px 4px 0;
}

.search-form__submit-button-icon {
  width: 20px;
  height: 20px;
  fill: var(--soft);
}

.utility__contacts {
  margin-left: 16px;
}

.utility__separator {
  width: 32px;
  height: 2px;
  margin-left: 18px;
  background-color: var(--dark);
  transform: rotate(90deg);
}

.utility__navigation {
  margin-left: 8px;
}

.utility__search-button_mobile {
  display: none;
}

.utility__search-button_mobile:hover .utility__search-button-icon_mobile {
  fill: var(--accent-orange);
}

.utility__search-button-icon_mobile {
  width: 32px;
  height: 32px;
  fill: var(--white);
}

@media (max-width: 1200px) {
  .utility__catalog-button {
    margin-left: 8px;
  }

  .search-form {
    margin-left: 8px;
  }

  .utility__contacts {
    margin-left: 8px;
  }
  .utility__separator {
    margin-left: 0px;
  }

  .utility__navigation {
    margin-left: 0;
  }
}

@media (max-width: 1124px) {
  .utility__logo {
    width: 50px;
  }
}

@media (max-width: 900px) {
  .utility__catalog-button {
    padding: 9px;
  }
}

@media (max-width: 767.8px) {
  .utility {
    background-color: var(--dark);
  }

  .utility__body {
    gap: 16px;
    margin: 16px 0;
  }

  .utility__catalog-button,
  .search-form {
    margin: 0;
  }
}

@media (max-width: 551px) {
  .utility__body {
    gap: 38px;
  }
  .search-form {
    display: none;
  }

  .utility__search-button_mobile {
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 400px) {
  .utility__body {
    gap: 16px;
  }
}

@media (max-width: 340px) {
  .utility__body {
    gap: 8px;
  }
}
