.characteristics {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 16px;
  align-items: start;
  margin-top: 24px;
}

.characteristics__title {
  color: var(--dark-grey);
  font-size: 28px;
  line-height: 114%;
  font-weight: 600;
}

.characteristics__list {
  margin-top: 24px;
}

.characteristics__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 16px;
  color: var(--grey-scale-60);
  font-size: 14px;
  line-height: 142%;
}

.characteristics__item:nth-child(odd) {
  background-color: var(--soft);
}

.product__warning {
  margin-top: 24px;
  color: var(--dark-grey);
  font-size: 14px;
  line-height: 142%;
}

@media (max-width: 767.8px) {
  .characteristics {
    grid-template-columns: 1fr;
  }

  .characteristics__title {
    font-size: 18px;
    line-height: 133%;
  }

  .product__warning {
    margin-top: 16px;
    font-size: 12px;
    line-height: 133%;
  }
}
