.selling {
  margin-top: 48px;
}

.selling__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.selling__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  row-gap: 12px;
  column-gap: 16px;
}

.products__more {
  display: flex;
  justify-content: end;
}

.products__more button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 11px 0 5px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-action-secondary);
}

.products__more button svg {
  margin-top: 1px;
}

@media (max-width: 663px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  }
}

@media (max-width: 360px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 8px;
  }
}