.selling {
  margin-top: 48px;
}

.selling__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.selling__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 114%;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 390px;
  column-gap: 16px;
}

.products__more {
  display: flex;
  justify-content: end;
}

.products__more button {
  padding: 11px 0 5px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-action-secondary);
}

@media (max-width: 1200px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1130px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.products__item {}