.navigation {
  position: relative;
  top: 5px;
  display: flex;
  align-items: center;
  gap: 21px;
  margin-right: 6px;
}

.navigation__comparison,
.navigation__like,
.navigation__cart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.navigation__comparisonIcon,
.navigation__likeIcon,
.navigation__cartIcon {
  width: 40px;
  height: 40px;
  fill: var(--dark);
  stroke: var(--dark);
  transition: transform 0.3s ease;
}

.navigation__likeIcon {
  width: 34px;
  height: 34px;
  fill: none;
}

.navigation__comparisonIcon:hover,
.navigation__likeIcon:hover,
.navigation__cartIcon:hover {
  transform: scale(1.1);
}

.navigation__comparison::before,
.navigation__like::before,
.navigation__cart::before {
  z-index: 1;
  position: absolute;
  top: -8px;
  right: -5px;
  display: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: var(--accent-orange);
  border-radius: 50%;
  color: var(--dark);
  font-size: 10px;
  font-weight: 900;
  line-height: 100%;
}

.navigation__like_active::before {
  content: attr(wishlist-quantity);
  display: flex;
}

.navigation__cart_active::before {
  content: attr(cart-quantity);
  display: flex;
}

.navigation__cart::before {
  background-color: var(--action-primary);
  color: var(--soft);
}

@media (max-width: 900px) {
  .navigation {
    gap: 12px;
  }
}

@media (max-width: 767.8px) {
  .navigation {
    top: 0;
  }

  .navigation__cartIcon {
    fill: var(--white);
    stroke: var(--white);
  }
}
