.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  row-gap: 12px;
  column-gap: 16px;
}

@media (max-width: 663px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  }
}

@media (max-width: 360px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 8px;
  }
}