.link {
  position: relative;
  font-size: 10px;
  font-weight: 500;
  cursor: pointer;
}

.link:hover a {
  color: var(--accent-orange);
}

.link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background-color: var(--accent-orange);
  transition:
    transform 0.3s ease,
    width 0.3s ease,
    left 0.3s ease;
}

.link:hover::before {
  left: 0%;
  width: 100%;
}

.link a {
  color: var(--soft);
  transition: color 0.3s ease;
}
