.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  transition:
    background-color 0.3s ease,
    border 0.3s ease,
    color 0.3s ease,
    fill 0.3s ease,
    stroke 0.3s ease;
}

.button__primary {
  --color: var(--action-primary);
  --color-hover: var(--action-primary-hover);
  --color-active: rgba(38, 255, 99, 0.5);
  --color-shadow: rgba(63, 255, 117, 0.65);
}

.button__secondary {
  --color: var(--action-secondary);
  --color-hover: var(--action-secondary-hover);
  --color-active: rgba(38, 99, 255, 0.5);
  --color-shadow: rgba(63, 117, 255, 0.65);
}

.button__filled {
  background-color: var(--color);
  color: var(--soft);
  border: 2px solid var(--color);
}

.button__filled svg {
  fill: var(--soft);
  stroke: var(--soft);
}

.button__filled:hover {
  background-color: var(--color-hover);
  border: 2px solid var(--color-hover);
}

.button__filled:active {
  border: 2px solid var(--color-active);
  box-shadow: 0 0 3px var(--color-shadow);
}

.button__filled:disabled {
  background-color: var(--grey-scale-20);
  color: var(--grey-scale-40);
  border: 2px solid var(--grey-scale-40);
}

.button__filled:disabled svg {
  fill: var(--grey-scale-40);
  stroke: var(--grey-scale-40);
}

.button__outline {
  background-color: transparent;
  border: 2px solid var(--color);
  color: var(--color);
}

.button__outline svg {
  fill: var(--color);
  stroke: var(--color);
}

.button__outline:hover {
  background-color: var(--color-hover);
  border: 2px solid var(--color-hover);
}

.button__outline:active {
  background-color: var(--color);
  border: 2px solid var(--color);
  box-shadow: 0 0 3px var(--color-shadow);
}

.button__outline:disabled {
  background-color: transparent;
  border: 2px solid var(--grey-scale-20);
  color: var(--grey-scale-20);
}

.button__outline:disabled svg {
  fill: var(--grey-scale-20);
  stroke: var(--grey-scale-20);
}

.button__m {
  padding: 13px 10px;
  font-size: 12px;
}

.button__s {
  padding: 11px 14px;
  font-size: 10px;
}

/* .button__catalog.button__m {
  padding: 9px 12px 9px 10px;
}

.button__catalog.button__s {
  padding: 8px 14px;
}

.button__catalog.button__xs {
  padding: 9px;
}

.button__cart.button__m {
  padding: 8px 10px;
}

.button__cart.button__xs {
  padding: 2px 6px;
} */

.button__width {
  width: 100%;
}
