.sales__title {
  margin-top: 48px;
  color: var(--dark-grey);
  font-size: 28px;
  font-weight: 600;
  line-height: 114%;
}

.navigation {
  margin-top: 26px;
  margin-bottom: 5px;
}

.sales__list {
  margin-top: 24px;
}

@media (max-width: 767.8px) {
  .sales__title {
    margin-top: 32px;
  }

  .sales__title {
    margin-top: 32px;
    font-size: 18px;
    line-height: 133%;
  }

  .navigation {
    margin-top: 12px;
    margin-bottom: 0;
  }
}
