:root {
  --tablet-size-l: 991.8px;
  --tablet-size-m: 767.8px;
  --mobile-size-l: 479.8px;
  --mobile-size-m: 374.8px;

  --background-color-primary: rgb(255, 255, 255);
  --background-color-blue: rgb(6, 15, 66);
  --button-color-green: rgb(6, 165, 108);
  --button-color-blue: rgb(1, 87, 155);

  --font-color-primary: rgb(51, 51, 51);
  --font-color-white: rgb(244, 248, 251);
  --font-color-grey: rgb(217, 217, 217);
}