.head {
  /* position: relative; */
  /* z-index: 10;
  position: sticky;
  top: 10px; */
  background-color: var(--white);
}

.head__row {
  display: flex;
  justify-content: space-between;
}

.head__name {
  flex: 1 1 80%;
  font-size: 32px;
  line-height: 112%;
  color: var(--dark-grey);
}

.head__code {
  height: 35px;
  font-size: 14px;
  line-height: 142%;
  color: var(--grey-scale-40);
}

.head__code-text {
  display: flex;
  align-items: end;
  height: 100%;
}

.head__rating {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.head__reviews {
  color: var(--grey-scale-40);
  font-size: 12px;
  line-height: 133%;
  font-weight: 500;
}

.navigation {
  /* position: sticky;
  top: 200px; */
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.navigation::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey-scale-10);
}

.navigation__item {
  padding: 16px 12px;
  color: var(--dark-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  cursor: pointer;
}

.navigation__item:hover {
  transform: scale(1.1);
}

.navigation__item_active {
  position: relative;
  color: var(--action-secondary);
  font-weight: 700;
}

.navigation__item_active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--action-secondary);
}

@media (max-width: 767.8px) {
  .head__name {
    font-size: 24px;
    line-height: 116%;
  }

  .head__code {
    height: auto;
    margin-left: auto;
    font-size: 12px;
    line-height: 133%;
  }
}
