.zone {
  background-color: rgb(34, 39, 94);
}

.zone__body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 0;
}

.head {
  display: grid;
  grid-template-columns: 7% auto 93%;
  align-items: center;
  column-gap: 16px;
}

.head__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 111%;
  color: #fff;
  word-wrap: normal;
  white-space: nowrap;
}

.head span {
  height: 1px;
  width: 100%;
  background-color: #fff;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  row-gap: 12px;
  column-gap: 16px;
}

.products__more {
  display: flex;
  justify-content: end;
}

.products__more button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 11px 0 5px;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-action-secondary);
}

.products__more button svg {
  margin-top: 1px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.category__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 142%;
  color: #fff;
}

.category__list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.category__item {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border-radius: 50%;
}

.category__item img {
  position: absolute;
}

.category__item::before {
  /* content: '';
  position: absolute;
  z-index: -1;
  background-color: #fff;
  width: 200px;
  height: 200px; */
}

.category__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}

@media (max-width: 663px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
  }
}

@media (max-width: 360px) {
  .products__list {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    column-gap: 8px;
  }
}