.zone {
  overflow: hidden;
  margin-top: 21px;
  background-image: linear-gradient(
      rgba(34, 39, 94, 0.92),
      rgba(34, 39, 94, 0.92)
    ),
    url(../../../assets/img/gameZoneBackground.jpeg);
  background-size: cover;
}

.zone__body {
  padding: 40px 0;
}

.head {
  display: grid;
  grid-template-columns: 0.1fr auto 1fr;
  align-items: center;
  column-gap: 32px;
}

.head span {
  height: 2px;
  background-color: var(--white);
}

.head__title {
  color: var(--white);
  font-size: 36px;
  font-weight: 600;
  line-height: 111%;
  text-transform: uppercase;
}

.zone__products {
  margin-top: 24px;
}

.zone__navigation {
  margin-top: 26px;
  color: var(--white);
}

.zone__subtitle {
  margin-top: 48px;
  color: var(--white);
  font-size: 28px;
  font-weight: 600;
  line-height: 114%;
}

.category {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  margin-top: 24px;
}

.category__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.category__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  aspect-ratio: 1/1;
}
.category__img-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 50%;
}

.category__img {
  position: relative;
  z-index: 1;
  width: 200%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.category__item:hover .category__img {
  transform: scale(1.1);
}

.category__name {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  line-height: 133%;
  transition: color 0.3s ease;
}

.category__item:hover .category__name {
  color: var(--accent-orange);
}

@media (max-width: 1442px) {
  .category > *:nth-child(n + 6) {
    display: none;
  }
}

@media (max-width: 1180px) {
  .category__img-container {
    max-width: 175px;
  }

  .category__img {
    width: 125%;
  }
}

@media (max-width: 1028px) {
  .category__img-container {
    max-width: 150px;
  }

  .category__img {
    width: 125%;
  }
}

@media (max-width: 890px) {
  .category > *:nth-child(n + 5) {
    display: none;
  }

  .category__img-container {
    max-width: 175px;
  }

  .category__img {
    width: 130%;
  }
}

@media (max-width: 852px) {
  .category__img-container {
    max-width: 150px;
  }

  .category__img {
    width: 130%;
  }
}

@media (max-width: 767.8px) {
  .zone__body {
    padding: 24px 0;
  }
  .category > *:nth-child(n + 4) {
    display: flex;
  }

  .category {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 200px;
    margin-top: 12px;
  }
  .category__item {
    gap: 8px;
    height: 200px;
    background-color: rgb(100, 100, 100);
  }

  .category__img-container {
    max-width: none;
    margin: auto 0;
    aspect-ratio: inherit;
  }

  .category__img-bg {
    background-color: transparent;
  }

  .category__img {
    width: 100%;
  }

  .category__name {
    margin-top: auto;
    font-size: 14px;
    font-weight: 700;
    line-height: 142%;
  }

  .head {
    grid-template-columns: 1fr auto 1fr;
    column-gap: 20px;
  }

  .head__title {
    font-size: 24px;
    line-height: 116%;
  }

  .zone__products {
    margin-top: 12px;
  }

  .zone__subtitle {
    margin-top: 12px;
    font-size: 18px;
    line-height: 133%;
    font-weight: 600;
  }

  .zone__navigation {
    margin-top: 12px;
  }
}

@media (max-width: 516px) {
  .category {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 350px) {
  .category {
    grid-template-columns: 1fr;
  }
  .category__img-container {
    height: 150px;
  }
}
